<h1>About Us</h1>

<!-- // serving actual path -->
<!-- <img src="frog.jpg" alt ="Frog" width="300" height="300"> -->

<!-- //serving a virtual path -->
<img src="/static/frog.jpg" alt ="Frog" width="300" height="300">