<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <h1>User Profile</h1>
  <% if(!(verify.username && verify.password)){ %>
    <p><strong>Incorrect username or password</strong></p>
  <% } else{ %>
    <p><strong>Welcome</strong> <%= user_name %></p>
  <% }%>
</body>
</html>